body {
  margin: 0;
  padding: 0;
  background: radial-gradient(circle, transparent 50%, black 150%), white;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  color: white;
  font-family: sans-serif;
}
